body {
	background-color: #222;
	text-align: center;
    font: 26px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

header {
  font-size: 50px;
  width: 620px;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 100px;
  padding: 20px 0;
}

table {
  margin: 0 auto;
  margin-bottom: 25px;
}

td {
	padding: 10px;
}

#twoplayer {
	margin: 20px 0;
	margin-bottom: 20px;
	color: black;
}

footer {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #333333;
    position: absolute;
    bottom: 0;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6,
#btn7, #btn8, #btn9 {
  width: 70px;
  height: 70px;
}

